<template>
</template>

<script>
import axios from 'axios';
import { serverUrl } from '../utils/constants.js'
import { axiosInstance } from '@/main'

export default {
  name: 'DashboardView',
  async mounted() {
    await this.checkUserAndNavigate()
  },

  computed: {
    isLogged() {
      return this.$store.getters['user/isLogged']
    }
  },
  
  methods: {
    async checkUserAndNavigate() {
      if (!this.isLogged) {
        try {
          const response = await axios.get(`${serverUrl}/auth/token${window.location.search}`)
          
          if (response.data.token) {
            localStorage.setItem('userToken', response.data.token)

            axiosInstance.interceptors.request.use(config => {
              config.headers['token'] = response.data.token
                return config;
              }, error => {
                  return Promise.reject(error);
              })
          }

          await this.$store.dispatch('user/checkLogin')
        } catch (err) {
          console.error(err)
          this.$router.push('/login')
        }
      } else {
        this.$router.push('/')
      }
    }
  }
  
};
</script>