<template>
  <div>Dashboard</div>
</template>

<script>
import axios from 'axios';
import { serverUrl } from '../utils/constants.js'

export default {
  name: 'DashboardView',
  async mounted() {
  },

  computed: {
  },
  
  methods: {
  }
  
};
</script>