<template>
    <v-card>
        <v-layout>
            <v-navigation-drawer
                color="blue"
                permanent
                class="py-4"
            >
                <div class="pa-2">
                    <div class="bg-white d-flex align-center rounded text-black pa-2">

                        <v-icon aria-hidden="false" size="40" class="mr-3 text-grey-lighten-1">
                            mdi-account-circle
                        </v-icon>
                    <div>
                        <div class="text-subtitle-1">
                            {{user?.firstName}} {{user?.lastName}}
                        </div>
                        <div class="text-subtitle-2 text-grey-lighten-1">
                            Admin
                        </div>
                    </div>
                    </div>
                </div>

                <v-list color="transparent">
                    <div class="pa-2">
                        <Button :to="'/subjects'" class="d-flex w-100">
                            Subjects
                        </Button>
                    </div>

                    <div class="pa-2">
                        <Button :to="'/users'" class="d-flex w-100">
                            Users
                        </Button>
                    </div>
                </v-list>

                <template v-slot:append>
                    <div class="pa-2">
                        <Button button-text="Logout" :handle-click="logout" class="bg-red text-white d-flex w-100">
                        </Button>
                    </div>
                </template>
            </v-navigation-drawer>
            <v-main style="height: 100vh;">
                <RouterView></RouterView>
            </v-main>
        </v-layout>
    </v-card>
</template>

<script>
import {defineComponent} from "vue";
import Button from "@/components/Button.vue";

export default defineComponent({
    mounted() {
        if (!localStorage.getItem('userToken')) {
            this.$router.push('/login')
        }
    },
    computed: {
        user() {
            return this.$store.getters['user/user']
        }
    },
    methods: {
        logout() {
            localStorage.removeItem('userToken')
            this.$router.push('/login')
        }
    },
    components: {Button}

})
</script>