<template>
    <div>
        <v-app-bar :elevation="3">
            <v-app-bar-title>{{ (id ? 'Edit' : 'Add') + ' subject' }}</v-app-bar-title>
        </v-app-bar>

        <div class="pa-7">
            <v-sheet class="mx-auto" v-if="!isPageLoading">
                <v-form ref="form" @submit.prevent>
                    <div class="grid-col-2">
                        <Input v-model="form.name" label="Subject name" :rules="nameRules"></Input>

                        <Select v-model="form.teacher" :items="teacherOptions" :multiple="false" label="Teacher" :rules="teacherRules" :textKey="'name'" :textValue="'id'" :returnObject="true"></Select>
                    </div>

                    <Button block class="mt-2" type="submit" :handle-click="submitForm" :loading="isLoading">Submit</Button>
                </v-form>
            </v-sheet>
        </div>
    </div>
</template>

<script>
import Input from "@/components/Input.vue";
import Select from "@/components/Select.vue";
import Button from "@/components/Button.vue";
import {axiosInstance} from "@/main.js";

export default {
    components: {Button, Select, Input},
    data() {
        return {
            id: null,
            form: {
                name: '',
                teacher: '',
            },
            nameRules: [
                value => !!value || 'Required.',
                value => (value || '').length >= 2 || 'Min 2 characters.',
            ],
            teacherRules: [
                value => !!value || 'Required.',
            ],
            teacherOptions: [],
            isLoading: false,
            isPageLoading: false,
            subject: {},
        }
    },
    async mounted() {
        this.id = this.$route.params.id;

        this.isPageLoading = true

        const users = await axiosInstance.get('user');

        this.teacherOptions = users.data.filter(item => item.roles.includes('TEACHER')).map(item => {
            return {name: item.firstName + ' ' + item.lastName + ', ' + item.email, value: item._id}
        });

        if (this.id) {
            this.subject = await axiosInstance.get('subject/' + this.id);
            
            this.form.name = this.subject.data.name;
            this.form.teacher = {
                name: this.subject.data.teacher.firstName + ' ' + this.subject.data.teacher.lastName + ', ' + this.subject.data.teacher.email,
                value: this.subject.data.teacher._id
            };
        }

        this.isPageLoading = false;
    },
    methods: {
        async submitForm() {
            const { valid } = await this.$refs.form.validate()

            if (!valid) {
                console.log('Invalid form')
                return
            }

            try {
                this.isLoading = true;

                if(!this.id) {
                    await axiosInstance.post('/subject', {...this.form, teacher: this.form.teacher.value});
                }

                console.log(this.subject)

                if(this.id) {
                    const payload = {
                        ...this.subject.data, ...this.form, teacher: this.form.teacher.value
                    };

                    delete payload.materials;
                    delete payload._id;
                    delete payload.__v

                    await axiosInstance.put('/subject/' + this.id, payload);
                }

                this.$refs.form.reset()
                this.$refs.form.resetValidation()
                this.isLoading = false;
            } catch (e) {
                this.isLoading = false;
            }
        },
    },
}
</script>

<style>
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}
</style>