<template>
    <div>
        <v-app-bar :elevation="3">
            <v-app-bar-title>{{ subject.name + ' subject' }}</v-app-bar-title>
        </v-app-bar>

        <div class="pa-7">
            <v-sheet class="mx-auto">
                <div class="text-h6 mb-2">Enroll students</div>

                <v-form ref="form" @submit.prevent>
                    <div class="grid-col-2">
                        <Select v-model="form.students" :items="studentOptions" :multiple="true" label="Students" :textKey="'name'" :textValue="'id'" :returnObject="true"></Select>
                    </div>

                    <Button block class="mt-2" type="submit" :handle-click="enrollStudents" :loading="isLoading">Submit</Button>
                </v-form>
            </v-sheet>
        </div>

        <div class="pa-7">
            <v-sheet class="mx-auto">
                <div class="text-h6 mb-2">Add assignments</div>
                
                <v-form ref="form">
                    <div class="grid-col-2">
                        <Input v-model="assignment.type" label="Assignment Type" :rules="assignmentRules"></Input>
                        <Input v-model="assignment.question" label="Question" :rules="assignmentRules"></Input>
                        <Input v-model="assignment.variants" label="Variants (separated by '|')" :rules="assignmentRules"></Input>
                    </div>

                    <Button block class="mt-2" type="submit" :handle-click="submitAssignment" :loading="isAssignmentLoading">Create Assignment</Button>
                </v-form>
            </v-sheet>
        </div>

        <div class="assignments-list">
            <h3>Assignments</h3>
            <v-list>
                <v-list-item-group>
                    <v-list-item v-for="task in tasks" :key="task" @click="openDialog(task)">
                    <v-list-item-content>{{ task }}</v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>

            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-card-title>
                    Assignment Details
                    <v-spacer></v-spacer>
                    <v-btn icon @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    </v-card-title>
                    
                    <v-card-text>
                    <div>Type: {{ taskDetails.type }}</div>
                    <div>Question: {{ taskDetails.question }}</div>
                    <div>Variants: {{ taskDetails.variants }}</div>
                    </v-card-text>

                    <v-card-actions>
                    <v-btn color="error" @click="deleteAssignment(taskDetails.id)">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
import Input from "@/components/Input.vue";
import Select from "@/components/Select.vue";
import Button from "@/components/Button.vue";
import {axiosInstance} from "@/main.js";

export default {
    components: {Button, Select, Input},
    data() {
        return {
            id: null,
            form: {
                students: [],
            },
            nameRules: [
                value => !!value || 'Required.',
                value => (value || '').length >= 2 || 'Min 2 characters.',
            ],
            teacherRules: [
                value => !!value || 'Required.',
            ],
            teacherOptions: [],
            isLoading: false,
            isPageLoading: false,
            assignment: {
                type: '',
                question: '',
                variants: ''
            },
            studentOptions: [],
            assignmentRules: [
                value => !!value || 'Required.'
            ],
            isAssignmentLoading: false,
            dialog: false,

        }
    },
    async mounted() {
        this.id = this.$route.params.id;

        this.isPageLoading = true

        const users = await axiosInstance.get('user');

        this.studentOptions = users.data.filter(item => item.roles.includes('STUDENT')).map(item => {
            return {name: item.firstName + ' ' + item.lastName + ', ' + item.email, value: item._id}
        });

        if (this.id) {
            await this.$store.dispatch('subjects/getSubject', this.id)

            this.form.students = this.subject.students.map(item => {
                return {
                    name: item.firstName + ' ' + item.lastName + ', ' + item.email,
                    value: item._id
                }
            });
        }

        this.isPageLoading = false;
    },
    computed: {
        tasks() {
            return this.$store.getters['subjects/tasks']
        },
        subject() {
            return this.$store.getters['subjects/item']
        },
        taskDetails() {
            return this.$store.getters['subjects/task']
        }
    },
    methods: {
        async submitAssignment() {
            const assignmentData = {
                id: this.id,
                assignment: this.assignment
            }

            await this.$store.dispatch('subjects/submitAssignment', assignmentData)
            this.$refs.form.reset()
            this.$refs.form.resetValidation()
        },
        async openDialog(id) {
            await this.$store.dispatch('subjects/getTask', id)
            this.dialog = true
        },
        async deleteAssignment(id) {
            await this.$store.dispatch('subjects/removeTask', id)
            await this.$store.dispatch('subjects/getSubject', this.id)
            this.dialog = false
        },
        async enrollStudents() {
            const students = this.form.students.map(item => JSON.parse(JSON.stringify(item)).value);

            const payload = {
                ...this.subject,
                teacher: this.subject.teacher._id,
                students
            }

            delete payload.materials;
            delete payload._id;
            delete payload.__v
            
            await axiosInstance.put('/subject/' + this.id, payload);
        }
    },
}
</script>

<style>
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}
</style>