<template>
    <div>
        <v-app-bar :elevation="3">
            <v-app-bar-title>Subjects</v-app-bar-title>

            <Button :to="'/subjects/add'">Add Subject</Button>
        </v-app-bar>

        <div v-if="subjects" class="pa-2 grid-col-3">
            <v-col
                v-for="subject in subjects" :key="subject._id"
                cols="auto"
            >
                <v-card
                    class="mx-auto"
                    color="blue"
                    max-width="344"
                    variant="tonal"
                >
                    <v-card-item>
                        <div>
                            <div class="text-overline mb-1">
                            </div>
                            <div class="text-h6 mb-1">
                                {{ subject.name }}
                            </div>
                            <div class="text-caption">{{ "Id profesor: " + subject.teacher }}</div>
                        </div>
                    </v-card-item>

                    <v-card-actions>
                        <Button :to="'/subjects/edit/' + subject._id">
                            Edit
                        </Button>
                        <Button :to="'/subjects/' + subject._id">
                            View
                        </Button>
                    </v-card-actions>
                </v-card>
            </v-col>
        </div>
    </div>
</template>

<script>

import Button from "@/components/Button.vue";

export default {
    components: {
        Button
    },

    async mounted() {
        await this.$store.dispatch('subjects/getSubjects')
    },

    computed: {
        subjects() {
            return this.$store.getters['subjects/subjects']
        }
    }
}

</script>

<style scoped>
.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}
</style>