<template>
    <v-btn :class="buttonStyle" :variant="variant" @click="applyClick" :color="color" :to="to" :type="type" :loading="loading">
        <slot>{{ buttonText }}</slot>
    </v-btn>
</template>

<script>
export default {
    name: 'Button',
    props: {
        buttonText: {
            type: String,
            default: ''
        },
        buttonStyle: {
            type: String,
            default: 'default-style'
        },
        variant: {
            type: String,
            default: 'tonal'
        },
        color: {
            type: String,
            default: ''
        },
        to: {
            type: String,
            default: ''
        },
        type: {
            type: String,
            default: ''
        },
        loading: {
            type: Boolean,
            default: false
        },
        handleClick: {
            type: Function,
            default: () => {
            }
        }
    },
    methods: {
        applyClick() {
            this.handleClick()
        }
    }
}
</script>