<template>
    <v-text-field
        :label="label"
        :variant="variant"
        :placeholder="placeholder"
        v-model="internalValue"
        :type="type"
        :rules="rules"
        color="blue"
    ></v-text-field>
</template>

<script>
export default {
    name: 'Input',
    props: {
        placeholder: {
            type: String,
            default: ''
        },
        type: {
            type: String,
            default: 'text'
        },
        variant: {
            type: String,
            default: 'outlined'
        },
        label: {
            type: String,
            default: ''
        },
        rules: {
            type: Array,
            default: []
        },
    },
    data() {
        return {
            internalValue: ''
        }
    },
    methods: {
        updateValue(newValue) {
            this.internalValue = newValue
        }
    }
}
</script>
