<template>
  <div class="form-container">
    <img src="../assets/images/bytelearn-logo.png" width="250" height="250">
    <h1 class="form-title">Login</h1>
    <Input
      v-model="form.email"
      label="Email"
      :rules="emailRule"
    />
    <Input
      v-model="form.password"
      label="Password"
      :rules="passwordRule"
      type="password"
    />
    <div class="buttons-container">
      <Button buttonStyle="button-primary" :handle-click="submitForm" :loading="isLoading">
        Sign in
      </Button>
      <Button buttonStyle="button-primary" :handle-click="handleGoogleLogin" :loading="isLoading">
        <img src="../assets/images/google-logo.png" width="30" height="30"/>
        <span>
          Sign in with Google
        </span>
      </Button>
    </div>

  </div>
</template>

<script>
import Input from './Input.vue'
import Button from './Button.vue'

export default {
  components: {
    Input,
    Button
  },
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      isLoading: false,
      emailRule: [
        value => !!value || 'Required.',
        value => /.+@.+\..+/.test(value),
      ],
      passwordRule: [
        value => !!value || 'Required.',
      ],
    };
  },
  methods: {
    async submitForm() {
      try {
        this.isLoading = true
        await this.$store.dispatch('user/login', this.form)
        this.isLoading = false
    } catch (e) { 
      this.isLoading = false
    }
    },
    async handleGoogleLogin() {
      await this.$store.dispatch('user/googleLogin')
    }
  }
};
</script>