<template>
    <v-select
        :label="label"
        :variant="variant"
        :placeholder="placeholder"
        v-model="internalValue"
        :multiple="multiple"
        :items="items"
        :rules="rules"
        :item-title="textKey"
        :item-value="textValue"
        :key="textValue"
        color="blue"
        :return-object="returnObject"
    ></v-select>
</template>

<script>
export default {
    name: 'Select',
    props: {
        placeholder: {
            type: String,
            default: ''
        },
        items: {
            type: [String],
            default: []
        },
        variant: {
            type: String,
            default: 'outlined'
        },
        label: {
            type: String,
            default: ''
        },
        multiple: {
            type: Boolean,
            default: false,
        },
        rules: {
            type: [Function],
            default: ''
        },
        textKey: {
            type: String,
            default: ''
        },
        textValue: {
            type: String,
            default: ''
        },
        returnObject: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            internalValue: this.multiple ? [] : '',
        }
    },
    methods: {
        updateValue(newValue) {
            this.internalValue = newValue
        }
    }
}
</script>
