$form-input-border-color: #ccc;
$form-button-padding: 10px;
$form-button-radius: 5px;
$google-button-hover-color: #f5f5f5;
$google-button-border-color: #ddd;

.assignments-list {
  padding: 50px;
}

.v-card-title {
  display: flex !important;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid $form-input-border-color;
  padding: 100px;
  border-radius: $form-button-radius;

  img {
    margin: auto;
    display: block;
  }

  .form-title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .form-input {
    width: 100%;
    padding: $form-button-padding;
    border-radius: $form-button-radius;
    border: 1px solid $form-input-border-color;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  button {
    width: 100%;
    cursor: pointer;
    text-align: center;
  }
}
