<template>
    <div>
        <v-app-bar :elevation="3">
            <v-app-bar-title>Add user</v-app-bar-title>
        </v-app-bar>

        <div class="pa-7">
            <v-sheet class="mx-auto">
                <v-form ref="form" @submit.prevent>
                    <div class="grid-col-2">
                        <Input v-model="form.firstName" label="First name" :rules="firstNameRules"></Input>

                        <Input v-model="form.lastName" label="Last name" :rules="lastNameRules"></Input>

                        <Input v-model="form.email" label="Email" :rules="emailRules"></Input>

                        <Input v-model="form.password" label="Password" :rules="passwordRules" type="password"></Input>

                        <Select v-model="form.roles" :items="rolesOptions" :multiple="true" label="Role" :rules="rolesRules"></Select>
                    </div>

                    <Button block class="mt-2" type="submit" :handle-click="submitForm" :loading="isLoading">Submit</Button>
                </v-form>
            </v-sheet>
        </div>
    </div>
</template>

<script>
import Input from "@/components/Input.vue";
import Select from "@/components/Select.vue";
import Button from "@/components/Button.vue";
import {axiosInstance} from "@/main.js";

export default {
    components: {Button, Select, Input},
    data() {
        return {
            form: {
                firstName: '',
                lastName: '',
                password: '',
                email: '',
                roles: [],
            },
            firstNameRules: [
                value => !!value || 'Required.',
                value => (value || '').length >= 3 || 'Min 3 characters.',
            ],
            lastNameRules: [
                value => !!value || 'Required.',
                value => (value || '').length >= 3 || 'Min 3 characters.',
            ],
            emailRules: [
                value => !!value || 'Required.',
                value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail format.'
                },
            ],
            passwordRules: [
                value => !!value || 'Required.',
                value => (value || '').length >= 8 || 'Min 8 characters.',
            ],
            rolesRules: [
                value => value?.length || 'Required.',
            ],
            rolesOptions: ['TEACHER', 'STUDENT'],
            isLoading: false,
        }
    },
    methods: {
        async submitForm() {
            const { valid } = await this.$refs.form.validate()

            if (!valid) {
                console.log('Invalid form')
                return
            }

            try {
                this.isLoading = true;

                await axiosInstance.post('/auth/add-user', this.form);

                this.$refs.form.reset()
                this.$refs.form.resetValidation()
                this.isLoading = false;
            } catch (e) {
                this.isLoading = false;
            }
        }
    }
}
</script>

<style>
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}
</style>