<template>
    <div>
        <v-app-bar :elevation="3">
            <v-app-bar-title>Users</v-app-bar-title>

            <Button :to="'/users/add'">Add User</Button>
        </v-app-bar>

        <div v-if="users" class="pa-2 grid-col-3">
            <v-col
                v-for="user in users" :key="user._id"
                cols="auto"
            >
                <v-card
                    class="mx-auto"
                    color="blue"
                    max-width="344"
                    variant="tonal"
                >
                    <v-card-item>
                        <div>
                            <div class="text-overline mb-1">
                            </div>
                            <div class="text-h6 mb-1">
                                {{ user.firstName + ' ' + user.lastName }}
                            </div>
                            <div class="text-caption"><span v-for="role in user.roles">{{ role }}</span></div>
                            <div class="text-caption">{{ user.email }}</div>
                        </div>
                    </v-card-item>

                    <v-card-actions>
                        <v-btn @click="blockItem(user)" class="bg-grey-lighten-3"> {{ user.blocked ? 'Unblock' : 'Block' }}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </div>
    </div>
</template>

<script>
import {axiosInstance} from "@/main.js";
import Button from "@/components/Button.vue";
import {onMounted, ref} from "vue";

export default {
    components: {Button},
    setup() {
        const users = ref(null)

        const blockItem = async (user) => {
            try {
                await axiosInstance.put('/user/toggle_block/' + user._id, {});
                const data = await axiosInstance.get('user');

                users.value = data.data
            } catch (e) {
            }
        }

        onMounted(async () => {
            const data = await axiosInstance.get('user');

            users.value = data.data;
        })

        return {
            users,
            blockItem
        }
    },
};
</script>

<style scoped>
.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}
</style>